.blog-list li {
  list-style-type: none;
  height: 100px;
  width: 500px;
  border: 1px solid black;
  display: grid;
  place-items: center;
  position: relative;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
